h1,h2,h3,h4,h5,h6{
  font: 20px 'Trebuchet MS', sans-serif;
}
p{
  font: 0.9em 'Tahoma', sans-serif;
  padding-left: 10px;
  padding-right: 50px;
}
#heading h1{
  font-size: 35px;
  color: white;
  padding-left: 60px;
  padding-top: 20px;
}
#heading h2{
  font-style: italic;
  color: white;
  margin-top: -20px;
  padding-left: 60px;
}
#heading{
  background-color: #35AB6B;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 154%;
}
.intro, .main-supporting{
  width: 65%;
  float: left;
}
.participation{
  background: rgba(25, 75, 75, .4);
  width: 154%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.participation p{
  padding-right: 40%;
}
.contentInfo{
  background-color: #35AB6B;
  text-align: center;
  font-style: oblique;
  font-size: 1.2em;
  width: 154%;
  color: white;
  opacity: 0.6;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer{
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(20, 95, 95, 1);
  width: 154%;
}
.sidebar{
  display: inline-block;
  width: 35%;
  background: rgba(75, 155, 125, .2);
}
.sidebar ul{
  list-style: none;
}
.sidebar hr{
  width: 65%;
  margin-left: 0px;
}
.wrapper{
  margin-left: 20px;
  height: 1340px;
}
.design-selection{
  margin-top: 100px;
}
.zen-resources{
  margin-top: 150px;
}
@font-face{
  font-family: Graffiti;
  src: url(fonts/GraffitiPaintBrush.ttf);
}
.design-name{
  font-family: Graffiti;
}
